.joinus{
    .section-title{
        text-align: center;
        max-width: 100%;

        h2{
            text-transform: uppercase;
        }

        p{
            margin: 0 auto;
        }
    }

    .joinus-form{
        input{
            margin: 10px 0;
            width: 100%;
            max-width: 570px;
            height: 50px;
            border-radius: 0;
            outline: none;
            border: 1px solid grey;
            padding-left: 20px;
        }

       
    }
}