.testimonials{
    .testimonial{
        width: 100%;
        padding: 60px 90px;
        .star-icons{
            color: $starColor;
            text-align: center;
            margin-bottom: 15px;
            font-size: 22px;

        }

        .description{
            margin-bottom: 30px;
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
            }
        }

        .author{
            display: flex;
            gap: 15px;
            img{
                width: 50px;
                height: 50px;
            }
        }

        .name{
            h4{
                color: $mainColor;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
            }

            h5{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.2px
            }

        
        }
    }
}